<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>params</key>
    <dict>
      <key>APP_KEY</key>
      <string>5682746ae0f55a862a0022b3</string>
      <key>CHANNEL_ID</key>
      <string>unknown</string>
    </dict>
  </dict>
</plist>